@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

/* -------------- Universal -------------- */
* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  align-content: center;
  background-color: #eee;
}
/* -------------- Universal tags -------------- */
h3 {
  margin-bottom: 0;
  text-align: 0;
}
small {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
/* -------------- heart and love-me classes-------------- */
.fa-heart {
  color: red;
}
.love-me {
  height: 440px;
  width: 660px;
  background: url("https://images.unsplash.com/photo-1642027565793-2709b34631ec?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
  margin: auto;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 6px;
}
.love-me .fa-heart {
  position: absolute;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}

/* keyframes */
@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
