@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Henny+Penny&display=swap");

/* -------------- Universal -------------- */
* {
  box-sizing: border-box;
}

body {
  background: url("https://images.unsplash.com/photo-1514876246314-d9a231ea21db?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1332")
    no-repeat center center/cover;
  font-family: "Henny Penny", system-ui;
  color: #f0f0f0;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
h4 {
  font-size: 30px;
  margin: 5px;
  text-transform: uppercase;
}
/* -------------- other -------------- */
.counter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.counter.hide {
  transform: translate(-50%, -50%) scale(0);
  animation: hide 0.2s ease-out;
}

.final {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
}
.final.show {
  transform: translate(-50%, -50%) scale(1);
  animation: show 0.2s ease-out;
}
.numbers {
  font-size: 50px;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 65px;
}
.numbers span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(120deg);
  transform-origin: bottom center;
}
.numbers span.in {
  transform: translate(-50%, -50%) rotate(0deg);
  animation: goIn 0.5s ease-in-out;
}
.numbers span.out {
  animation: goOut 0.5s ease-in-out;
}
.replayBtn {
  outline: none;
  padding: 10px;
  font-size: 20px;
  font-family: inherit;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
/* -------------- Keyframes -------------- */
@keyframes hide {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes show {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  30% {
    transform: translate(-50%, -50%) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes goIn {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }
  /* bouncy effect */
  30% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }
  60% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
@keyframes goOut {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  60% {
    transform: translate(-50%, -50%) rotate(20deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
}
